@page "/"

<PageTitle>Jesus is LORD</PageTitle>

<div style="background: #051b11; width: 100vw; height: 100vh; display: flex; align-items: center; color: white;">
    <h1>Thank you father on helping me get doclokr going. I pray for you to help me find a good christrian investor</h1>

    Welcome to your new app.
</div>




